body {
    background-color: #60AD7E;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.desktop {
    text-align: center;
    color: white;
}

h1 {
    margin-bottom: 50px;
}

.app-icons {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.app-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100px;
    height: 100px;
    text-align: center;
}
.content-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100px;
    height: 100px;
    text-align: center;
}
.app-icon img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.app-icon p {
    margin: 0;
    color: white;
}

.app-icon:hover {
    background: rgba(131, 32, 32, 0.2);
}
.previews {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.preview-card {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 45%;
    color: white;
}

.preview-card h2 {
    margin-top: 0;
    text-align: center;
}

.preview-item {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0;
}

.more-items {
    text-align: center;
    margin-top: 10px;
    font-style: italic;
    cursor: pointer;
}